main {
    width: 100%;
    /*min-height: 150px;*/
}
.highlighted {
    background: #03A9F4;
    border-radius: 5px;
    color: white;
    /*font-weight: 600;*/
    padding: 2px 7px 2px 7px;
}

.first-line {
    max-width: 60%;
    box-sizing: border-box;
    /*outline: 1px solid blue;*/
    margin: 25px auto auto;
    background: rgba(255, 255, 255, 0.81);
    border-radius: 15px;
    display: flex;
    /*grid-template-columns: 2fr 1fr;*/
}

.first-line__text {
    border-radius: 15px 0 0 15px;
    background: white;
    padding: 40px;
    font-size: 1.25rem;
    /*font-style: italic;*/
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.first-line__title {
    font-weight: bold;
    font-size: 2.35rem;
    margin-bottom: 15px;
}

.first-line__not-title {
    font-weight: 500;
}

.we_suggest, .our_advantages {
    display: inline;
    border-bottom: 4px solid #03A9F4;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 1.25rem;
}

.first-line__img {
    position: relative;
    /*transform: translate(20%);*/
    display: block;
    /*margin-left: 30px;*/
    max-width: 50%;
    /*max-height: 40%;*/
    /*aspect-ratio: 1;*/
    transition: .2s ease-out;
    z-index: 1;
}

.first-line__img:hover {
    transform: scale(103%);
}










.second-line-wrapper {
    /*margin-top: 25px;*/
    width: 100%;
    background: white;
}

.second-line {
    /*outline: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    /*box-sizing: border-box;*/
    margin: auto;
    padding: 30px;

    /*display: none;*/
}

.second-line__img {
    display: block;
    border-radius: 15px;
    /*width: 50%;*/
    /*width: 400px;*/
    height: 400px;
    /*max-height: 85%;*/
    margin-right: 20px;
}


.second-line__text {
    /*outline: 1px solid green;*/
    /*width: 50%;*/
    /*margin: 5px;*/
}
.our_advantages {
    /*display: block;*/
    margin-left: 10px;
    margin-bottom: 400px;
    /*font-size: 1.5rem;*/
}
.second-line__advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*flex-wrap: wrap;*/
    grid-gap: 30px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.second-line__advantage {
    /*outline: 1px solid red;*/
    font-weight: 500;
    display: flex;
    text-align: center;
    /*flex-basis: 35%;*/
    /*justify-content: center;*/
    align-items: center;
    /*padding: 10px 20px 10px 20px;*/
    /*padding: 5px;*/
    flex-direction: column;
    border-radius: 25px;
    margin: 0;
    transition: 0.2s ease-in-out;
}
.second-line__advantage > .icon {
    width: 50px;
    aspect-ratio: 1;
    display: block;
    /*fill: white;*/
    margin: 10px;
}

.second-line__advantage:hover {
    transform: scale(105%);
    /*background: rgba(25, 118, 210, 0.23);*/
}





.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    transition: 0.5s ease-in-out;
}
.why-sockets {
    /*background: #03A9F4;*/
}
.line__content {
    /*outline: 1px solid red;*/
    width: 60%;
    margin: auto;
    display: flex;
    align-items: stretch;
    /*padding: 40px;*/
    border-radius: 15px;
    /*background: rgba(255, 255, 255, 0.81);*/
    /*background: white;*/
}
.why-sockets__left-part {
    /*flex: 5;*/
    flex: 1.75;
    padding: 40px;
    /*outline: 1px solid red;*/
    background: white;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
}
.why-sockets__right-part {
    /*width: 100%;*/
    /*height: 100%;*/
    /*outline: 1px solid red;*/
    /*flex-shrink: 0;*/
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(255, 255, 255, 0.58);
    overflow: hidden;
}
.why-sockets__image {
    max-height: 100%; /* Ограничивает высоту изображения */
    height: auto; /* Автоматическая высота */
    width: auto; /* Автоматическая ширина */
    max-width: 100%; /* Ограничивает ширину изображения */
    display: block; /* Убирает пробелы вокруг изображения */
    transform: scale(160%);
    z-index: 2;
    transition: .2s ease-out;
}
.why-sockets__image:hover {
    transform: scale(180%);
}
.why-sockets__title {
    font-size: 2rem;
    font-weight: 700;
}
.why-sockets__text {
    margin-top: 10px;
    font-size: 1.25rem;
}






.threaded, .pressed {
    background: white;
    padding-top: 0;
    padding-bottom: 0;
}
.threaded__title, .pressed__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;

}
.threaded > .line__content {
    /*outline: 1px solid red;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    /*padding: 40px;*/
}
.threaded__types {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-gap: 40px;
    border-radius: inherit;
}
.threaded__types > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    overflow: hidden;
    /*margin: 20px;*/

}
.threaded__types * {
    /*outline: 1px solid red;*/
    /*display: flex;*/
    /*border-radius: inherit;*/
    font-size: 1.3rem;
    /*overflow: hidden;*/
}
.threaded__types img {
    /*aspect-ratio: 1;*/
    /*max-width: 500px;*/
    /*outline: 1px solid red;*/
    transition: .35s ease-out;
    /*overflow: hidden;*/
    border-radius: inherit;
    width: 100%;
    background: rgba(187, 222, 251, 0.45);
}
.threaded__types img:hover {
    transform: scale(165%);
}
.threaded__middle {
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    max-height: 100%;
    /*margin: 10px;*/
}
.threaded__type-text {
    margin-top: 20px;
    font-weight: 600;
    z-index: 2;
    /*border-bottom: 3px solid #03A9F4;*/
}


.pressed {
    padding-bottom: 50px;
}
.pressed .line__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.pressed__types {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1.7;
    height: 50%;
    background: rgba(187, 222, 251, 0.45);
    width: 50%;
    overflow: hidden;
    border-radius: inherit;
    /*position: relative;*/
}
.pressed__title {
    margin-top: 20px;
}
.pressed img {
    /*aspect-ratio: 1;*/
    /*max-width: 500px;*/
    /*outline: 1px solid red;*/
    transition: .25s ease-out;
    transform: scale(120%);
    /*overflow: hidden;*/
    /*border-radius: inherit;*/
    width: 100%;
    /*background: rgba(187, 222, 251, 0.45);*/
}
.pressed img:hover {
    transform: scale(145%);
}
.pressed__text {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-style: italic;
}


.catalog {
    /*outline: 1px solid red;*/
}
.catalog .line__content {
    /*outline: 1px solid red;*/
    padding: 50px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
    background: white;
    border-radius: 25px;
    width: auto;
    transition: 0.2s ease-in-out;
    /*height: 8rem;*/
}
.catalog__text {

}
.catalog__- {
    margin: 20px;
}
.catalog__file {
    /*outline: 1px solid red;*/
    width: 7%;
    transition: 0.2s ease-in-out;
    background: white;
    /*background: transparent;*/
    border-radius: 10px;
    box-shadow: none;
}
.catalog__file:hover {
    transform: scale(110%);
}
.catalog__svg {
    width: 100%;
    background: transparent;
}






