.word-container {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;

    /*outline: 3px solid red;*/
}
.word {
    position: relative;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    display: flex;
    align-items: center;
    min-width: max-content;
    /*outline: 3px solid lime;*/
}
.word span {
    display: inline-block;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}
.moving-letters {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.line {
    width: 100%;
    /*border: 5px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 100px;*/
    padding-top: 100px;
    padding-bottom: 100px;
}